@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* yash swiper style start*/
.swiper-pagination-clickable .swiper-pagination-bullet {
  content: "";
  background: url("/img/circle.png") no-repeat;
  background-size: contain; /* adjust this property as needed */
  display: inline-block;
  width: 20px; /* adjust width and height as needed */
  height: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  content: "";
}
.swiper-pagination-bullet-active::before {
  content: "";
  background: url("/img/ring2.png") no-repeat;
  background-size: contain; /* adjust this property as needed */
  display: inline-block;
  width: 20px; /* adjust width and height as needed */
  height: 20px;
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 280px;
}

/* yash swiper style end*/
